node_modules
dist
.env
.env.local
.env.*.local
.env.production
*.tsbuildinfo
.DS_Store
.codex-preview
.chrome-profile
.chrome-profile-mobile

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
